/* Sets font family styles for all html and body tags */
html, 
body {
  font-size: 14px;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.list-group {
  margin-top: 20px;
  text-align: center;
}

