/* Sets the styles for all html and body tags */
html, 
body {
	font-size: 14px;
  	font-family: Verdana, sans-serif;
  	padding: 20px;
  	font-size: larger;
  	text-align: center;
}

/* Sets the styles for the list of Pokemons */
.list-group {
	margin-top: 20px;
  	text-align: center;
  	margin: 40px auto;
}
